@model LoginViewModel

<div class="container-fluid d-flex p-4 text-white justify-content-center">

    <div class="col-10 shadow-lg p-5 rounded rounded-3">
        <h4 class="text-center">LOGIN</h4>
        <i class="bi bi-person-circle d-flex justify-content-center h2"></i>
        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group mt-3">
                <label asp-for="UserName" class="control-label"></label>
                <div class="">
                    <input asp-for="UserName" class="form-control rounded-pill shadow-lg" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="">
                    <input asp-for="Password" class="form-control rounded-pill shadow-lg" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="d-flex justify-content-center">
                    <input type="submit" class="minhacor text-white rounded-pill p-2" value="LOGIN" />
                </div>
            </div>
        </form>
    </div>
</div>