@model RegistroViewModel


<div class="container-fluid d-flex p-4 text-white justify-content-center">

    <div class="col-12 col-md-10 shadow-lg p-5 rounded rounded-3">

        <h4 class="text-center">REGISTRAR USUÁRIO</h4>
        <i class="bi bi-person-circle d-flex justify-content-center h2"></i>
        <form asp-controller="Account" asp-action="Register" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"> </label>
                <input asp-for="UserName" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Endereco"></label>
                <input asp-for="Endereco" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Numero"></label>
                <input asp-for="Numero" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Bairro"></label>
                <input asp-for="Bairro" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Cidade"></label>
                <input asp-for="Cidade" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Estado"></label>
                <input asp-for="Estado" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Cep"></label>
                <input asp-for="Cep" class="form-control rounded-pill shadow-lg" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <div class="d-flex justify-content-center">
                    <input type="submit" class="minhacor text-white rounded-pill p-2" value="REGISTRAR" />
                </div>
            </div>
        </form>
    </div>
</div>