@model Projeto.VewModel.HomeViewModel
@{
    ViewData["Title"] = "Itens";
}

    <partial name="_Carousel" />


<h1 class="text-white text-center">LANCHES ESPECIAIS</h1>
<div class="row row-cols-lg-3 g-3 row-cols-1 ">
    @foreach (var item in Model.ItensEmDestaque)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>